.search-bar {
  display: flex;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.search-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}
.add-new {
  width: 120px;
  padding: 4px;
  border-radius: 10px;
  background: white;
  border: 1px solid grey;
  cursor: pointer;
}
