/* App.css или другой файл стилей */

.search-input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table-container {
  margin: 20px;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  border: 1px solid #ddd;
}


.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #eaf2ff;
}

.action-button {
  margin-right: 5px;
}

.action-button {
  /* Your existing styles for the action buttons */
}

.action-button:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 8px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
}

.pagination button.active {
  background-color: #333;
  color: #fff;
}

/* Медиа-запрос для адаптивности */
@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: scroll;
  }

  .table-container table {
    min-width: 600px;
  }
}
