


.table-container {
  padding: 10px;
  margin: 30px;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #eaf2ff;
}


/* Медиа-запрос для адаптивности */
@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: scroll;
  }

  .table-container table {
    min-width: 600px;
  }
}
